.content {
  background-color: #000;
}

h1, h2, h3, h4 {
  font-family: Georgia, Times, Times New Roman, serif;
}

p {
  background-color: #fff;
  color: #FFF;
  font-family: Georgia, Times, Times New Roman, serif;
  text-shadow: none;
}


.highlight {
  background-color:yellow;
}


.page p {
  display:inline;
  background:none;
}

.content {
  height:300px;
  overflow:hidden;
}



.footer-img {
  border: 1px black;
  background:white;
  padding:2px;
}

